body {
    margin: 0;
    padding: 0;
}

#video-grid {
    display: flex;
    justify-content: center;
    
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
    /* padding: 10px; */

}

.main {
    height: 100vh;
    display: flex;
}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right {
    /* flex: 0.2; */
    /* background-color: rgb(59, 55, 63); */

}

.mainVideo{
    flex-grow: 1;
    background-color: rgb(43, 40, 46);
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
    display: flex;
    background-color: rgb(59, 55, 63);
    color: white;
    padding: 5px;
    justify-content: space-between;
}

.controlBlock {
    display: flex;

}

.mainControlsButton{
    display: flex;
    flex-direction: column; 
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    cursor: pointer;
}