body {
    margin: 0;
    padding: 0;
    
}

#video-grid {
    display: flex;
    justify-content: center;
    
    
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 5px;

}

.main {
    height: 100vh;
    display: flex;
}

.left{
    flex: 0.8;
    display: flex;
    flex-direction: column;
    
}

.right {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 55, 63);
    border-left: 1px solid rgb(85, 79, 92) ;
    


}

.mainVideo{
    flex-grow: 1;
    background-color: rgb(43, 40, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(85, 79, 92) ;
}

.controls {
    display: flex;
    background-color: rgb(59, 55, 63);
    color: white;
    padding: 5px;
    justify-content: space-between;    
}

.controlBlock {
    display: flex;
    
}

.mainControlsButton{
    display: flex;
    flex-direction: column; 
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    cursor: pointer;
}

.mainControlsButton i {
    font-size: 24px;
}

.mainControlsButton:hover {
    background-color: rgb(135, 111, 158);
    border-radius: 15px;
}

.leaveMeeting {
    color: rgb(199, 24, 24);
}

.mainHeader {
    color: floralwhite;
    text-align: center;
    
}

.chatWindow {
    flex-grow: 1;
}

.msgContainer{
    padding: 22px 12px;
    display: flex;
}

.msgContainer input {
    flex-grow: 1;
    background-color: transparent ;
    color: floralwhite;
    border: none;

}

.msgs {
    color: white;
    text-decoration: none;
    list-style: none;
}